
:root {
  --link-color: blue;
}

html * {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 1.2em;
}

main {
  height: 100%;
}

body {
  font-family: monospace;
  margin: 1em auto;
  max-width: 800px;
}

h1 {
  padding: 20px 0px;
}

h2 {
  text-decoration: underline;
}

section {
  margin-left: 2em;
}

textarea {
  width: 100%;
  height: 50%;
  resize: none;
  overflow: scroll;
}

textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
  border: none;
  outline: none;
  padding: 10px;
  resize: none;
  font-size: 1.5em;
  font-family: sans-serif;
}

button {
  all: unset;
  color: var(--link-color);
  cursor: pointer;
  user-select: none;
}

#dialog-close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px;
  color: var(--link-color);
  border: none;
  cursor: pointer;
}

.active {
  background-color: var(--link-color);
  color: white;
}

.hidden {
  display: none;
}

dialog {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: var(--link-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: 20px;
}
